.app-header {
  background: green;
  min-height: 55px;
  padding: 0px 16px;

  div {
    transition: transform 0.2s ease;
  }

  div:active {
    transform: scale(1.1);
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    color: white;
  }
}