.floating-action-button {
  background-color: green;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}